/* Movie Card Design */
.single-movie {
  margin-bottom: 3rem;
}

.single-movie .movie-poster {
  width: 100%;
  height: 435px;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.single-movie .movie-poster::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #14141d;
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear;
}

.single-movie:hover .movie-poster::before {
  opacity: 0.9;
  visibility: visible;
}

.movie-poster .overlay-btns {
  position: absolute;
  list-style-type: none;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.single-movie:hover .movie-poster .overlay-btns {
  opacity: 1;
  visibility: visible;
}

.movie-poster .overlay-btns li + li {
  margin-top: 17px;
}

.movie-poster .overlay-btns li .btn {
  min-width: 200px;
  padding: 10px 34px;
  font-size: 0.8rem;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0;
  border-radius: 2rem;
  background: #e4d804;
  color: #151517;
  transform: translateY(-15px);
  opacity: 0;
  transition: all 0.5s;
}
.movie-poster .overlay-btns li:first-child .btn {
  box-shadow: 0 0 0 0 transparent;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) paused;
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) paused;
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) paused;
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) paused;
}

.movie-poster .overlay-btns li:first-child .btn {
  box-shadow: 0 0 0 0 rgb(228, 216, 4);
  -webkit-animation: pulse 1s infinite ease-in-out;
  -moz-animation: pulse 1s infinite ease-in-out;
  -ms-animation: pulse 1s infinite ease-in-out;
  animation: pulse 1s infinite ease-in-out;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 216, 4, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(228, 216, 4, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 216, 4, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(228, 216, 4, 0.4);
    box-shadow: 0 0 0 0 rgba(228, 216, 4, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(228, 216, 4, 0);
    box-shadow: 0 0 0 10px rgba(228, 216, 4, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(228, 216, 4, 0);
    box-shadow: 0 0 0 0 rgba(228, 216, 4, 0);
  }
}

.movie-poster .overlay-btns li:nth-child(2) .btn:hover {
  background: #e4d804;
  color: #151517;
}
.movie-poster .overlay-btns li:nth-child(2) .btn {
  background: #12151e none repeat scroll 0 0;
  border: 2px solid #e4d804;
  color: #e4d804;
  transform: translateY(15px);
  opacity: 0;
}

.single-movie:hover .movie-poster .overlay-btns li .btn {
  opacity: 1;
  transform: translateY(0);
}

.movie-poster img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.movie-content {
  padding: 0 0.5rem;
}
.movie-content .row {
  justify-content: space-between;
}

.movie-content .top {
  margin-bottom: 1rem;
}

.movie-content .top .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  flex-grow: 1;
}

.movie-content .top .title .link {
  color: #fff;
  transition: all 0.5s;
}
.movie-content .top .title .link:hover {
  color: #e4d804;
}

.movie-content .top .year {
  font-size: 14px;
  font-weight: 500;
  margin-left: 1rem;
  color: #e4d804;
}

.movie-content .bottom .quality,
.movie-content .bottom .type {
  border: 2px solid #fff;
  padding: 5px 10px;
  line-height: 1;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  color: #e4d804;
}

.movie-content .bottom .type {
  border-color: transparent;
  padding-right: 0;
}

@media (max-width: 960px) {
  .single-movie .movie-poster {
    height: 500px;
  }
}

/* Movie Details STyling */
.movie-details-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: url(../../Assets/mdbackground.jpg) no-repeat top center fixed;
  background-size: cover;
  padding-bottom: 4rem;
}
.movie-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.movie-details .movie-poster {
  width: 330px;
  min-width: 330px;
  padding: 0 1rem;
  margin-right: 1.5rem;
}
.details-content {
  max-width: 520px;
}
.details-content .director {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #e4d804;
}
.details-content .title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #fff;
}
.details-content .title span {
  color: #e4d804;
}
.details-content ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.details-content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 18px;
}

.details-content ul li.vid > span {
  font-size: 11px;
  text-transform: uppercase;
  color: #21232b;
  background: #fff;
  font-weight: 700;
  padding: 7px 11px;
  line-height: 1;
}

.details-content ul li.vid > span:last-child {
  background: transparent;
  color: #fff;
  margin-left: 9px;
  border: 2px solid #fff;
  padding: 5px 10px;
}

.details-content ul li.category > span {
  font-size: 14px;
  font-weight: 500;
  color: #e3dfdf;
}

.details-content ul li.time > span {
  font-size: 14px;
  font-weight: 500;
  color: #e3dfdf;
}

.details-content ul li.time > span > i {
  font-size: 12px;
  margin-right: 5px;
  color: #e4d804;
}

.details-content ul li.time > span + span {
  margin-left: 15px;
}

.details-content p.desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: #bcbcbc;
  margin-bottom: 1rem;
}

.movie-details .btn.watch-btn {
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
  background: #12151e none repeat scroll 0 0;
  border: 2px solid #e4d804;
  border-radius: 50px;
  color: #e3dfdf;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 16px 34px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  max-width: 220px;
}
.movie-details .btn.watch-btn i {
  margin-right: 0.6rem;
  font-size: 1rem;
}
.movie-details .btn.watch-btn:hover {
  background: #e4d804 none repeat scroll 0 0;
  color: #12151e;
}

@media screen and (max-width: 450px) {
  .details-content .title {
    font-size: 3rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 910px) {
  .movie-details {
    flex-direction: column;
  }
  .movie-details .movie-poster {
    margin: 0 0 2rem;
  }
}

/* Search Design */
.search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 26, 33, 0.95);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.search-container.show {
  opacity: 1;
  visibility: visible;
}

.search-container form {
  width: 100%;
  max-width: 600px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.search-container form input {
  display: inline-block;
  padding: 0.5rem 0;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
  letter-spacing: 0.5px;
  width: calc(100% - 60px);
  flex: 1;
}

.search-container form button {
  font-size: 1.7rem;
  font-weight: 500;
  background-color: transparent;
  color: #e4d804;
}

.stream-container {
  height: 100vh !important;
  position: absolute;
  width: 100%;
}
